<% layout("./layouts/boilerplate.ejs")%>


    <body>
        <% if(error){ %>
            <script>
                alert("<%= error %>");
                window.location.href="/";
            </script>
        <% } %>


                <div class="img1">
                    <img src="/railway1.jpg">
                </div>

                <div class="login-container">
                    <div class="header">
                        <img src="/Indian_Railway_Logo_1_og.png" class="img2" height="40px" width="40px">
                        <h4 style="color: white; opacity: 0.5;">Indian Railways</h4>
                    </div>
                    <h1>Railway <br>Login</h1>

                    <form action="/submit" method="POST">

                        <div class="mb-3">
                            <label for="username" class="form-label"><i class="fa-solid fa-user"></i>
                                <b>Username</b></label>
                            <input type="text" name="username" class="form-control" id="username"
                                placeholder="Enter Username" required />
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label"><i class="fa-solid fa-lock"></i>
                                <b>Password</b></label>
                            <input type="password" name="password" class="form-control" id="password"
                                placeholder="Enter Password" required />
                        </div>

                        <div class="button-group">
                            <button type="submit" class="login-btn">Login</button>
                            <button type="reset" class="reset-btn">Reset</button>
                        </div>

                        <div class="forgot-password">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </form>
                </div>
    </body>